
.SUCSESS{
  background-color:#282828 !important;
  
  .ant-notification-notice-message{
    color: #39f939;
    font-weight: bold;
  }
  .icon{
  color:#39f939;
  }
}
.Wanning{
  background-color:#282828 !important;
  .ant-notification-notice-message{
    color: #ff5100;
    font-weight: bold;
  }
  .icon{
  color:#ff5100;
  }
}